.container {
  margin: auto;
  max-width: 50%;
  border: 3px solid gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
  background-image: url(img/movie.jpeg);
  background-size: cover;
  color: white;
}

h2 {
    text-align: center;
}

main {
    padding-left: 5px;
    padding-bottom: 5px;  
}

footer {
    text-align: center;
    padding: 10px;
}

a{
    color: whitesmoke;
}

.director_name{
    font-weight: bold;
}

.director_career{
    font-style: italic;
}